p.solid {border-style: solid;
text-align: center;}

input{
    text-align: center;
}

label {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.msg {
    text-align: center;
    color: red;
}

form {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-sizing: border-box;
    color: rgb(19, 16, 16);
    border: 0ch;
    border-color: violet;
    border-block:unset;
    border-image: auto;
    margin-top: auto;
    margin-bottom: auto;
}

h1 {
    text-align: center;
}

.myHome {
    text-align: center;
    color: green;
    margin-left: 50%;
    margin-right: auto;
    left: 50%;

}