<p class="solid">
    <h1>Change Password</h1>
    
    
    
    <form [formGroup]="myForm" (ngSubmit)="mySubmit()"name="myForm">
        <label for="user">Username:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="text" id="user" name="user" class="form-control"
        formControlName="uname"
        />
        <div *ngIf="uname?.invalid && (uname?.dirty || uname?.touched)" class="msg">
           User Name is required
        </div> 
        <br>
        <br>
    
    
    <label for="newPassword">New Password: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input type="password" 
    id="newPassword"
     name="newPassword"
     class="form-control" 
    formControlName="pass"
   
    (blur)="foo2()"
    required/>
    <div *ngIf="pass?.invalid &&  (pass?.dirty || pass?.touched)" class="msg">
        <div *ngIf="pass?.errors?.['minlength']">
            Minimum length is Rs 6
        </div>
        <div *ngIf="pass?.errors?.['required']" class="msg">
            Password is required
        </div> 
    </div> 
    <br>
    <br>
    
    
    
    <label for="Confirm Password">Confirm Password: </label>
    <input type="Password" id="Submit" name="confirmPassword" title="Confirm new password" 
    class="form-control" formControlName="cpass" (blur)="foo3()"
    />
    <div *ngIf="cpass?.invalid && (cpass?.dirty || cpass?.touched)" class="msg">
        Please confirm the password
    </div> 
    
    <br>
    <br>
    
    <p class="form-actions">
    <input type="submit" value="Submit" title="Submit"/>
    </p>
   
    
    
    
    </form>
    <div>
        <p *ngIf="msg" class="msg">{{msg}}</p>
    </div>
   
        <a routerLink="/home" class="myHome">Home</a>